{% extends "blog/base.html" %}
{% block content %}

  <p> I'm Lovelesh Kumar, a sophomore undergraduate at Chandigarh University. I'm pursuing a major in the Computer Science & Engineering department. I'm interested in Artificial Intelligence and Computer Graphics.</p>
  <p>I love to listen music from artists like Eminem, Ed Sheeran, Charlie Puth and Major Lazer. Recently, I started listening to hip-hop and rap artists like Post Malone, Kanye West, Dr. DRE and Eminem. And I'm also a big fan of the Marvel Universe. </p>


<h2 id="projects">Projects</h2>
  <hr>
<ul>
  <li id=""><h3>Bilder Editor <span><br>Ongoing</span></h3>  <p>Developing an image processing software in C++ and QT implementing various image enhancement algorithms like Edge Detection, Noise Reduction, Gaussian Blur etc.</p></li>
  <br>
  <li id=""><h3>Chandigarh University Reddit<span><br>Ongoing</span></h3><p>Developing a exclusive version of Reddit for Chandigarh University using different ranker's algorithms.</p></li>
  <br>
  <li id=""><h3>Blog Webapp<span><br>Summer ‘20</span></h3><p>Developed a Full stack Django Blog web application implementing features like User Authorization, Blog Post, Blog Comments, Drafts and Blog Publish.</p></li>
  <br>
  <li id=""><h3>Portfolio Webapp<span><br>Spring’20</span></h3><p>Developed a Full stack Django Portfolio web application. The template is open source and free to use. You can find it out on my github profile.</p></li>
  <br>
  <li id=""><h3>Burning Rocket<span><br>Autumn ‘19</span></h3><p>Designed a Rocket Game having features like collision detection, scene management in C# using the Unity3D Game Engine. The code is completely open source.</p></li>
  <br>
</ul>

<div id="publist">
        <h2>Connect</h2>
        <hr>

          <div class="socialmedia">
            <a href="https://www.facebook.com/iamlovelesh"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/iamlovelesh05"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/wholovelesh/"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/iamlovelesh"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/lovelesh-kumar-920949182/"><i class="fab fa-linkedin-in"></i></a>
          </div>
    <br><br>
    <p style="font-size:12px">
      Many thanks to <a href="http://shumochu.com/">Shumo Chu</a> for the site inspiration.
     </p>
      </div>
{% endblock %}
