<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lovelesh Blog</title>
    <!-- Bootstrap -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Medium Style Editor CDN -->

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top techfont" >
    <a class="nav-link"  href="{% url 'post_list' %}" style="color:white;">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}" style="color:white;">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/iamlovelesh" style="color:white;">Github</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.linkedin.com/in/lovelesh-kumar-920949182/"  style="color:white;">LinkedIn</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-item nav-link" href="{% url 'post_new' %}" style="color:white;">New Post</a>
          </li>
          <li class="nav-item active">
            <a class="nav-item nav-link" href="{% url 'post_draft_list' %}" style="color:white;">Drafts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-item nav-link" href="{% url 'logout' %}" style="color:white;">Log out</a>
          </li>
          <li class="nav-item active">
            <a class="nav-item nav-link" ><strong style="color:white;">Welcome: {{ user.username }}</strong></a>
          </li>
            </ul>
          {% else %}
            <a class="nav-item nav-link active" href="{% url 'login' %}" aria-label="Login">
              <i class="fa fa-user-circle" aria-hidden="true"></i></a>
          {% endif %}
      </form>
    </div>
  </nav>

  <div class="wrapper">
    <header>
        <h1> Lovelesh Kumar </h1>
        <div>
          <img src="{% static "images/Lovelesh Pic.jpg" %}" height="225" width="200" id="portrait"> <br>
          <p>
          <a href="mailto:iamlovelesh@outlook.com">iamlovelesh@outlook.com</a>
          <br>
          <a href="https://drive.google.com/file/d/12is0Kw6q6LPnRUkDN-RN1MGQb-PA6lkY/view?usp=sharing">CV</a> | <a href="https://iamlovelesh.github.io">Portfolio</a>
          </p>
          <div id="publist">
            <h2>Connect</h2>
            <hr>
            <a href="http://github.com/iamlovelesh"> <img class="icon" src="{% static "images/github_logo.png" %}" alt="github" title="github" height="24" width="24"></a>
            <a href="http://www.facebook.com/iamlovelesh"><img class="icon" src="{% static "images/facebook_logo.png" %}" alt="facebook" title="facebook" height="24" width="24"></a>
            <a href="http://www.twitter.com/iamlovelesh05"><img class="icon" src="{% static "images/twitter_logo.png" %}" alt="twitter" title="twitter" height="24" width="24"></a>
            <a href="https://www.linkedin.com/in/lovelesh-kumar-920949182/"><img class="icon" src="{% static "images/linkedin_logo.png" %}" alt="linkedin" title="linkedin" height="24" width="24"></a>
        <br><br>
          </div>

        </div>
        <p></p>
    </header>
    <section>
      <div class="content container">
      <div class="row">
            <!-- <div class="col-md-8"> -->
              <div class="blog_posts">
                {% block content %}
                {% endblock %}
              <!-- </div> -->
            </div>
        </div>
      </div>
        </section>
    </div>

  </body>
</html>
